/* VARIABLES */
:root {
  --clr-black-900: #000000;
  --clr-black-700: #151515;
  --clr-white: #ffffff;

  --clr-gray-990: #1a1a1a;
  --clr-gray-900: rgba(26, 26, 26, 0.9);
  --clr-gray-800: #242424;
  --clr-gray-700: #343434;
  --clr-gray-600: #7a7a7a;
  --clr-gray-500: #999;
  --clr-gry-font: #aaa;
  --clr-gray-300: #ccc;

  --clr-blue: #438ad7;
  --clr-orange-700: #c5631b;
  --clr-orange-500: #ff760d;
  --clr-orange-300: #fc872e;
  --clr-red-600: #a6072e;
  --clr-red-300: #d50032;
  --clr-yellow-500: #dbb052;
  --clr-yellow-300: #f1c566;

  --clr-gray-gradient: linear-gradient(
    to bottom,
    rgba(26, 26, 26, 0.75) 0%,
    #1a1a1a 95%
  );
  --clr-orange-gradient: linear-gradient(#c5631b, #b65c19);
  --clr-gray-opacity: rgba(26, 26, 26, 0.4);
  --clr-red-opacity: rgba(166, 7, 46, 0.6);
  --clr-red-opacity-hover: rgba(213, 0, 50, 0.6);
}

/**

UNIVERSAL SETTINGS

*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-black-900);

  font-family: Helvetica, Arial, sans-serif;
  color: var(--clr-gry-font);
  font-weight: 600;

  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

h3 {
  margin-top: 0;

  color: rgb(230, 227, 227);
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  line-height: 1.3;
}

p {
  margin: 0;

  font-size: 0.9rem;
  font-weight: 500;
}

.card-inner h3 {
  padding: 2.2rem 1rem 0;
}

.card-inner p {
  padding: 0 1rem;
}

a {
  line-height: 1.2em;
  letter-spacing: 0.8px;
  color: var(--clr-white);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  background-color: var(--clr-black-900);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: min(1400px, 97%);
  margin: 0 auto;
  padding: 1.25rem 0;
  background-image: url('./assets/navigation_stars.jpg');
}

.page-wrapper {
  width: min(1600px, 100%);
  margin: 0 auto;

  /* parallax effect */
  background-image: url('./assets/background-stars-desktop_00cbf8a9.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.page-section {
  width: min(1200px, 100%);
  margin: 0 auto;
  padding-top: 2.3rem;
}

.container-relative {
  position: relative;
}

.layout-overlay {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  width: 85%;
  height: 89%;

  overflow: hidden;
}

.title-block {
  display: block;

  margin-bottom: 1em;

  max-width: 36%;
  height: auto;

  text-align: center;
  font-size: 1.2rem;
  color: var(--clr-white);
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 1rem;

  width: 85%;
  margin: 0 auto;
}

.card-horizontal {
  display: flex;
  width: 512px;
  height: 150px;
}

.card-horizontal,
.card-box {
  cursor: pointer;
}

.card-horizontal:hover > div img {
  transform: scale(1.1);
}

.card-horizontal:hover .card-inner::before,
.card-horizontal:hover .card-inner::after,
.card-box:hover .card-inner::before,
.card-box:hover .card-inner::after {
  background-color: var(--clr-white);
  box-shadow: 3px 1px 6px 2px #ccc;
}

.card__img-wrapper {
  height: 164px;
  flex: 1;
  overflow: hidden;
}

.card-wrapper {
  flex: 1;
}

.card-box .card-wrapper {
  display: flex;
  flex-direction: column;
}

.card-horizontal img {
  background-size: cover;
  height: 100%;
  width: auto;

  transition: transform 300ms ease-in;
}

.card-inner {
  position: relative;

  height: 100%;

  background-color: rgba(26, 26, 26, 0.9);
}

.card-inner::before,
.card-inner::after {
  position: absolute;
  content: '';

  top: 1rem;
  height: 3.5px;
  border-radius: 2px;

  background-color: var(--clr-gray-600);
  transition: transform 300ms ease-in;
}

.card-inner::before {
  left: 1rem;
  width: 18px;
}

.card-inner::after {
  left: 2.4rem;
  width: 5px;
}

.card-top,
.card-bottom {
  position: relative;
  height: 7px;
  width: 100%;
}

.card-top::before,
.card-top::after,
.card-bottom::before,
.card-bottom::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
}

.card-top::before,
.card-top::after {
  border-bottom: solid 7px rgba(26, 26, 26, 0.9);
}

.card-bottom::before,
.card-bottom::after {
  border-top: solid 7px rgba(26, 26, 26, 0.9);
}

.card-top::before {
  left: 0;
  border-right: solid 7px transparent;
  width: 40%;
}

.card-top::after {
  right: 0;
  border-left: solid 7px transparent;
  width: 20%;
}

.card-bottom::before {
  left: 0;
  border-right: solid 7px transparent;
  width: 60%;
}

.card-box {
  position: relative;
}

.card-box .card-bottom::before {
  width: 70%;
}

.card-box .card-bottom::after {
  right: 0;
  border-left: solid 7px transparent;
  width: 7%;
}

.copy-message {
  margin-top: 175px;
  margin-bottom: 10px;

  padding-top: 1.2em;

  text-transform: uppercase;
  text-align: center;
  font-size: 0.85rem;
  color: var(--clr-gray-600);

  border-top: solid 0.2px var(--clr-gray-800);
}

/**

BUTTONS

*/

.video-wrapper {
  position: relative;
}

.btn-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 72px;
  width: 72px;

  background-image: url('./assets/video-arrow.svg');
  background-color: var(--clr-red-opacity);
  background-size: 20px 22px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 20px 4px 20px;

  transition: background-color 200ms ease-in;
  cursor: pointer;
}

.btn-video:hover {
  background-color: var(--clr-red-opacity-hover);
}

.dual-buttons__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: center;
  align-items: center;
  gap: 0.8em;
}

.btn {
  display: inline-block;
  padding: 1em 2em 0.7em;
  border-radius: 3px;
  font-size: 0.9rem;
  transition: background-color 300ms ease;
}

#btn-red {
  background-color: var(--clr-red-300);
  color: var(--clr-white);
}

#btn-red:hover {
  background-color: var(--clr-red-600);
}

#btn-yellow {
  background-color: var(--clr-yellow-500);
  color: var(--clr-black-900);
}

#btn-yellow:hover {
  background-color: var(--clr-yellow-300);
}

#btn-orange {
  background-color: var(--clr-orange-500);
  color: var(--clr-black-900);
}

#btn-orange:hover {
  background-color: var(--clr-orange-300);
}

#btn-clear {
  background-color: var(--clr-black-900);
  color: var(--clr-white);
  border: solid 1px var(--clr-white);
}

#btn-clear:hover {
  background-color: var(--clr-gray-900);
  opacity: 0.9;
}

.slide-left,
.slide-right {
  position: absolute;
  top: 50%;

  width: 40px;
  height: 40px;
}

.slide-left svg,
.slide-right svg {
  height: 100%;
  width: 100%;

  padding: 10px;

  background-color: var(--clr-gray-900);
  opacity: 0.8;
}

.slide-left {
  left: 1%;
}

.slide-right {
  right: 1%;
  transform: rotate(180deg);
}

.card-box .slide-right {
  right: -3%;
}

/**

HEADER:  SOCIAL ICONS

*/

.header__social-icons {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 30px;
}

.social-icon {
  margin-right: 1.25em;

  height: 20px;
  width: 20px;
}

.social-icon:hover .social-icon-svg {
  fill: var(--clr-gray-300);
}

#youtube-icon {
  width: 26px;
}

#twitter-icon {
  width: 23px;
}

#kids-icon {
  border-left: solid 1px var(--clr-gray-600);
}

#kids-icon svg {
  background-color: var(--clr-gray-600);
  height: auto;
  width: 45px;
  padding: 4px 7px;
  border-radius: 15px;
  margin-left: 1rem;
}

#kids-icon:hover #Icon-Social-Kids {
  fill: unset;
}

#kids-icon:hover svg {
  background-color: var(--clr-gray-300);
}

/**

HEADER LOGO

*/

.header__logo {
  width: 203px;
  height: 88px;
}

.header__logo img {
  max-width: 100%;
}

/**

SEARCH INPUT

*/

.header__search-login input {
  width: 248px;
  height: 40px;
  padding-left: 1em;

  font-size: 1rem;

  background-color: var(--clr-gray-800);
  color: var(--clr-gray-600);
  border: none;
  border-radius: 5px;
}

#search-btn {
  position: relative;
  cursor: pointer;
}

#search-btn svg {
  position: absolute;
  top: -4px;
  right: 15px;
  width: 20px;
  height: auto;
}

#search-btn #Icon-Search {
  fill: var(--clr-gray-600);
}

.header__search-login input:focus {
  color: white;
}

/**

LOGIN AND SIGN UP

*/

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1em;
}

.login-wrapper a {
  font-size: 0.9rem;
  color: var(--clr-gray-500);
}

.login-wrapper a:hover {
  color: var(--clr-gray-300);
}

.login-wrapper span {
  color: var(--clr-gray-800);
  margin: 0 1em;
}

/**

NAVIGATION

*/

.menu-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.menu-item,
.blank {
  border: solid 0.2px var(--clr-gray-800);
  border-bottom: none;
}

.blank:first-child {
  border-left: none;
}

.blank:last-child {
  border-right: none;
}

.blank {
  flex: 1;
}

.menu-item {
  text-align: center;
  padding: 0.9em 1.5em;
}

.menu-item a {
  color: var(--clr-gry-font);
  font-size: 0.85rem;
}

.menu-item a:hover {
  color: white;
}

/**

SECTION:  HERO

*/

#hero {
  position: relative;
  width: 100%;
  height: auto;
}

#hero h3 {
  text-align: left;
}

#hero .logo-img {
  width: 95%;
}

#hero .layout-overlay {
  height: 100%;
  justify-content: flex-end;
}

#hero .title-block {
  align-self: flex-end;
}

.hero__title-wrapper img {
  width: min(400px, 100%);
  margin: 0 auto;
}

/**

SLIDER NAVIGATION

*/

.hero__slider-navigation-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 80px;
  place-content: center;
  gap: 1rem;
}

.slider-nav {
  position: relative;

  display: grid;
  place-content: center;

  padding: 1em 0.6em;

  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.slider-nav::before,
.slider-nav::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: var(--clr-gray-opacity);
}

.slider-nav a {
  color: var(--clr-gray-300);
}

.slider-nav:hover a {
  color: var(--clr-white);
}

#slider-nav-1 {
  background-image: url('./assets/carousel_bad_batch.jpeg');
  border-top: solid 2px var(--clr-red-600);
}

#slider-nav-2 {
  background-image: url('./assets/carousel_explore_star_wars.webp');
}

#slider-nav-3 {
  background-image: url('./assets/carousel_tab_which_dad.webp');
}

#slider-nav-4 {
  background-image: url('./assets/carousel_this_week.webp');
}

.slider-nav a {
  position: relative;
  z-index: 1;
  font-size: 0.875rem;
}

/**

SECTION:  BAD BATCH

*/

#section__bad-batch .logo-img {
  width: 90%;
}

#section__bad-batch .title-block {
  text-align: left;
}

#section__bad-batch .dual-buttons__container {
  place-content: flex-start;
}

#bad-batch__section-orange {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;

  margin-top: -10%;
  padding: 0 3rem;

  background-color: var(--clr-orange-700);
}

/**

SECTION:  BAD BATCH LOWER

*/

#section__bad-batch .card-box .card-wrapper {
  height: 150px;
}

#section__bad-batch-lower {
  height: 680px;
  background-color: var(--clr-orange-700);
}

#section__bad-batch .layout-overlay {
  justify-content: flex-end;
}

.bad-batch__grid {
  position: relative;
  top: -150px;
}

/**

SECTION:  HIGH REPUBLIC SECTION

*/

#section__high-republic-lower {
  height: 760px;
  background-color: var(--clr-blue);
}

#section__high-republic .layout-overlay {
  padding-top: 2em;
}

#section__high-republic .title-block {
  all: unset;

  text-align: center;
  margin: 0 auto;
  width: 600px;
}

#section__high-republic .card-box .card-wrapper {
  height: 240px;
}
