/* VARIABLES */
:root {
  --clr-black-900: #000000;
  --clr-black-700: #151515;
  --clr-white: #ffffff;

  --clr-gray-900: rgba(26, 26, 26, 0.9);
  --clr-gray-800: #242424;
  --clr-gray-700: #343434;
  --clr-gray-600: #7a7a7a;
  --clr-gray-500: #999;
  --clr-gry-font: #aaa;
  --clr-gray-300: #ccc;

  --clr-blue: #438ad7;
  --clr-orange: #c5631b;
  --clr-red-600: #a6072e;
  --clr-red-300: #d50032;
  --clr-yellow: #dbb052;

  --clr-gray-gradient: linear-gradient(
    to bottom,
    rgba(26, 26, 26, 0.75) 0%,
    #1a1a1a 95%
  );
  --clr-orange-gradient: linear-gradient(#c5631b, #b65c19);
  --clr-gray-opacity: rgba(26, 26, 26, 0.4);
  --clr-red-opacity: rgba(166, 7, 46, 0.6);
  --clr-red-opacity-hover: rgba(213, 0, 50, 0.6);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-black-900);

  font-family: Helvetica, Arial, sans-serif;
  color: var(--clr-gry-font);
  font-weight: 600;

  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

p,
a {
  line-height: 1.2em;
  letter-spacing: 0.8px;
  color: var(--clr-white);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  background-color: var(--clr-black-900);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: min(1400px, 97%);
  margin: 0 auto;
  padding: 1.25rem 0;
  background-image: url('./assets/navigation_stars.jpg');
}

.page-wrapper {
  width: min(1600px, 100%);
  margin: 0 auto;

  /* parallax effect */
  background-image: url('./assets/background-stars-desktop_00cbf8a9.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.section-container {
  position: relative;
  width: min(1200px, 100%);
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.copy-message {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.85rem;
  color: var(--clr-gray-600);
  margin-top: 190px;
}

.btn-video {
  position: relative;

  height: 72px;
  width: 72px;

  background-image: url('./assets/video-arrow.svg');
  background-color: var(--clr-red-opacity);
  background-size: 20px 22px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 20px 4px 20px;

  cursor: pointer;
}

.btn-video:hover {
  background-color: var(--clr-red-opacity-hover);
}

.dual-buttons__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: center;
  align-items: center;
  gap: 0.8em;
}

.btn {
  display: inline-block;
  padding: 0.7em 1em;
  border-radius: 3px;
  font-size: 0.9rem;
  transition: background-color 300ms ease;
}

#btn-red {
  background-color: var(--clr-red-300);
  color: var(--clr-white);
}

#btn-red:hover {
  background-color: var(--clr-red-600);
}

#btn-orange {
  background-color: var(--clr-orange);
  color: var(--clr-black-900);
}

#btn-clear {
  background-color: var(--clr-black-900);
  color: var(--clr-white);
  border: solid 1px var(--clr-white);
}

#btn-clear:hover {
  background-color: var(--clr-gray-900);
}

/* header social media icons */

.header__social-icons {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 30px;
}

.social-icon {
  margin-right: 1.25em;

  height: 20px;
  width: 20px;
}

.social-icon:hover .social-icon-svg {
  fill: var(--clr-gray-300);
}

#youtube-icon {
  width: 26px;
}

#twitter-icon {
  width: 23px;
}

#kids-icon {
  border-left: solid 1px var(--clr-gray-600);
}

#kids-icon svg {
  background-color: var(--clr-gray-600);
  height: auto;
  width: 45px;
  padding: 4px 7px;
  border-radius: 15px;
  margin-left: 1rem;
}

#kids-icon:hover #Icon-Social-Kids {
  fill: unset;
}

#kids-icon:hover svg {
  background-color: var(--clr-gray-300);
}

/* HEADER LOGO */

.header__logo {
  width: 203px;
  height: 88px;
}

.header__logo img {
  max-width: 100%;
}

/* SEARCH */

.header__search-login input {
  position: relative;
  width: 248px;
  height: 40px;
  padding-left: 1em;

  font-size: 1rem;

  background-color: var(--clr-gray-800);
  color: var(--clr-gray-600);
  border: none;
  border-radius: 5px;
}

#search-btn {
  position: absolute;
  top: 1.8rem;
  right: 2.2rem;
  width: 20px;
  cursor: pointer;
}

#search-btn #Icon-Search {
  fill: var(--clr-gray-600);
}

.header__search-login input:focus {
  color: white;
}

/* LOGIN SIGN UP */

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.8em;
}

.login-wrapper a {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: var(--clr-gray-600);
}

.login-wrapper a:hover {
  color: var(--clr-gray-300);
}

.login-wrapper span {
  color: var(--clr-gray-800);
  margin: 0 1em;
}

/* HEADER NAVIGATION */

.menu-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.menu-item,
.blank {
  border: solid 0.2px var(--clr-gray-800);
}

.blank:first-child {
  border-left: none;
}

.blank:last-child {
  border-right: none;
}

.blank {
  flex: 1;
}

.menu-item {
  text-align: center;
  padding: 0.9em 1.5em;
}

.menu-item a {
  color: var(--clr-gry-font);
  font-size: 0.85rem;
}

.menu-item a:hover {
  color: white;
}

/* HERO HEADER */

.hero-wrapper {
  position: relative;
  width: 100%;
  height: auto;

  z-index: 1;
}

.overlay__right,
.overlay__left {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 90%;
  height: 100%;

  overflow: hidden;
}

.hero__title-wrapper {
  align-self: flex-end;

  display: block;

  margin-bottom: 1em;

  max-width: 36%;
  height: auto;

  text-align: center;
  font-size: 1.2rem;
  color: var(--clr-white);
}

.hero__title-wrapper img {
  width: min(400px, 100%);
  margin: 0 auto;
}

@media (max-width: 1240px) {
  .hero__buttons {
    grid-template-columns: 1fr;
    width: 180px;
    margin: 0 auto;
  }
}

/* SLIDER NAVIGATION */

.hero__slider-navigation-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 80px;
  place-content: center;
  gap: 1rem;
}

.slider-nav {
  position: relative;

  display: grid;
  place-content: center;

  padding: 1em 0.6em;

  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.slider-nav::before,
.slider-nav::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: var(--clr-gray-opacity);
}

.slider-nav a {
  color: var(--clr-gray-300);
}

.slider-nav:hover a {
  color: var(--clr-white);
}

#slider-nav-1 {
  background-image: url('./assets/carousel_bad_batch.jpeg');
  border-top: solid 2px var(--clr-red-600);
}

#slider-nav-2 {
  background-image: url('./assets/carousel_explore_star_wars.webp');
}

#slider-nav-3 {
  background-image: url('./assets/carousel_tab_which_dad.webp');
}

#slider-nav-4 {
  background-image: url('./assets/carousel_this_week.webp');
}

.slider-nav a {
  position: relative;
  z-index: 1;
  font-size: 0.875rem;
}

/**** SECTION ****/
/**** BAD BATCH ****/

.page-wrapper {
  outline: solid 1px blue;
}

.overlay__left {
  top: 0;
  left: -8%;
}

.overlay__left p {
  text-align: left;
}

.overlay__left .dual-buttons__container {
  place-content: start;
}

#bad-batch__section-orange {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;

  background-color: var(--clr-orange);
}
